@model IEnumerable<Clinic.Models.Entites.Doctor>

@{
    ViewData["Title"] = "getall";
}

<h1>All Doctors</h1>

<p>
    <a asp-action="Adddoct" class="btn btn-primary">Create New  </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                            <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.DoctorId">Edit</a> |
                        
                        <a asp-action="Delete" asp-controller="doctor" class="btn btn-warning" asp-route-id="@item.DoctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
